<%- include("./layouts/header"); -%>

	<div id="my-page">
		<div id="my-header">
			<header class="site-header">

				<% include partial/top-line %>

					<div class="header-center">
						<div class="container">
							<div class="row">
								<div class="col-lg-6">
									<div class="header-composition">
										<h2>Конфиденциально. Удобно. Быстро.</h2>
										<p>Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
											Ad minim veniam, quis nostrud exercitation ullamco nisi commodo consequat. </p>
									</div>
								</div>
								<div class="col-lg-5 offset-lg-1 form-box">
									<div class="register-form wow zoomInRight" data-wow-duration="1.5s" data-wow-delay="1.4s">
										<div class="change-container">
											<form action="/changePassword" method="post" class="change">
									
												<input type="hidden" name="_csrf" value="<%= csrfToken %>">
												<div class="form-header">
													<h3>Смена пароля</h3>
													<% include ./partial/_messages %>
												</div>
									
												<div class="form-group">
													<label for="passNew">Новый пароль</label>
													<input type="password" name="passNew" id="passNew">
													<div id="tooltipPasswordChange" class="validation"></div>
												</div>

												<div class="form-group">
													<label for="passConfirm">Подтвердите пароль</label>
													<input type="password" name="passConfirm" id="passConfirm">
													<div id="tooltipPasswordConfirmChange" class="validation"></div>
												</div>

									
												<div class="form-group">
													<button type="submit" class="button-ex change">
														<i class="fas fa-circle-notch fa-spin"></i>Сменить пароль
													</button>
												</div>
								
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</header>
		</div>
	</div>

<%- include("./layouts/content"); -%>

<%- include("./layouts/footer"); -%>