<div id="my-content">

	<section class="s-main">
		<div class="features">
			<div class="image"></div>
			<div class="info">
				<span class="line"></span>
				<h2 class="title">Удобно, надежно</h2>
				<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
			</div>
		</div>
		<div class="description">
			<div class="image"></div>
			<div class="info">
				<span class="line"></span>
				<h2 class="title">Продолжайте общение</h2>
				<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
			</div>
		</div>
	</section>

</div>
