	<div id="my-footer">

		<div class="container info-block">
			<div class="row no-gutters justify-content-between">
				<div class="col-md-3 offset-md-0 col-sm-6 offset-sm-4 col-9 offset-2">
					<h3>Информация</h3>
					<ul>
						<li><a href="">Помощь и поддержка</a></li>
						<li><a href="">Правила</a></li>
						<li><a href="">Обратная связь</a></li>
						<li><a href="">Условия использования</a></li>
					</ul>
				</div>
				<div class="col-md-3 offset-md-1 col-sm-6 offset-sm-4 col-9 offset-2 ">
					<h3>Информация</h3>
					<ul>
						<li><a href="">Помощь и поддержка</a></li>
						<li><a href="">Правила</a></li>
						<li><a href="">Обратная связь</a></li>
						<li><a href="">Условия использования</a></li>
					</ul>
				</div>
				<div class="col-md-3 offset-md-1 col-sm-6 offset-sm-4 col-9 offset-2">
					<h3>Информация</h3>
					<ul>
						<li><a href="">Помощь и поддержка</a></li>
						<li><a href="">Правила</a></li>
						<li><a href="">Обратная связь</a></li>
						<li><a href="">Условия использования</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="box">
				<p>2018 <i class="far fa-copyright"></i> CHATER.RU</p>
				<div class="soc">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>
			</div>	
		</div>
	</div>

	<!-- <div class="top" title="Наверх">
		<i class="fas fa-angle-double-up"></i>
	</div> -->


	<%- include("scripts"); -%>
</body>
</html>